<div class="add-mail">
    <h5 class="add-mail-heading">
        Coloque o seu email
    </h5>
    <form class="add-mail-form" method="POST" action="/mail">
        <div class="form-group form-title">
            <input 
            id="title"
            type="email"
            class="form-control"
            name="title"
            placeholder="exemplo@email.com"
            />
        </div>
        <div class="form-group form-submit">
            <button type="submit" class="btn btn-primary">
                Adicionar
            </button>
        </div>
    </form>
</div>
